/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

:root {
  --lapis-lazuli: #33658aff;
  --carolina-blue: #86bbd8ff;
  --charcoal: #2f4858ff;
  --hunyadi-yellow: #f6ae2dff;
  --orange-pantone: #f26419ff;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--carolina-blue);
}
