<div class="container">
      <header>
            <a href="" (click)="userLogout()">Logout</a>
      </header>
      <main>
            <div class="header">
                  <h2>Bem vindo as suas tarefas, {{ name || "Amigo" }}</h2>

                  <div class="action-buttons">
                        <button type="button" (click)="openNewTask()" class="ph-thin ph-file-plus"
                              style="color: #f6ae2dff; font-size: 18px;"></button>
                        <button type="button" (click)="openSetting()" class="ph-thin ph ph-gear"
                              style="color: #f6ae2dff; font-size: 18px">

                        </button>
                  </div>
            </div>
            <div [hidden]="setting == false">
                  <form class="config">
                        <input type="text" id="name" name="name" placeholder="Digite seu nome" [(ngModel)]="name"
                              #newname />
                        <!-- Tratamento de erro -->
                        <!-- <div class="form-error" [hidden]="username.valid || usernamepristine">
                                                Nome de usuário necessário!
                                          </div> -->
                        <button type="submit" (click)="onSubmit()">Salvar</button>
                  </form>
            </div>
            <div [hidden]="newTask == false">
                  <form class="create">
                        <div class="form-group">
                              <label for="title">Título</label>
                              <input type="text" name="title" id="title" required [(ngModel)]="task.title"
                                    #title="ngModel" />
                              <!-- Tratamento de erro -->
                              <div class="form-error" [hidden]="title.valid || title.pristine">
                                    Um título é necessário!
                              </div>
                        </div>

                        <div class="form-group">
                              <label for="description">Descrição</label>
                              <input type="text" name="description" id="description" required
                                    [(ngModel)]="task.description" #description="ngModel" />
                              <!-- Tratamento de erro -->
                              <div class="form-error" [hidden]="description.valid ||description.pristine">
                                    Uma descrição é necessária!
                              </div>
                        </div>

                        <div class="form-group">
                              <label for="start">Data de início</label>
                              <input type="date" name="start" id="start" required [(ngModel)]="task.startAt"
                                    #startAt="ngModel" />
                              <!-- Tratamento de erro -->
                              <div class="form-error" [hidden]="startAt.valid || startAt.pristine">
                                    Informe uma data de início válida!
                              </div>
                        </div>

                        <div class="form-group">
                              <label for="end">Data de término</label>
                              <input type="date" name="end" id="end" required [(ngModel)]="task.endAt"
                                    #endAt="ngModel" />
                              <!-- Tratamento de erro -->
                              <div class="form-error" [hidden]="endAt.valid || endAt.pristine">
                                    Informe uma data de termino válida!
                              </div>
                        </div>

                        <div class="form-group">
                              <label for="priority">Prioridade</label>
                              <select name="priority" id="priority" required [(ngModel)]="task.priority"
                                    #priority="ngModel">
                                    <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}
                                    </option>
                              </select>
                              <!-- Tratamento de erro -->
                              <div class="form-error" [hidden]="priority.valid || priority.pristine">
                                    Selecione um nível de prioridade
                              </div>
                        </div>

                        <!-- <button type="submit">Criar</button> -->
                        <button type="submit" (click)="createTask()">Criar</button>
                  </form>
            </div>

            <ul class="tasksList">
                  <li class="task">
                        <input type="checkbox" />
                        <span class="title">Fazer compras</span>
                        <button type="button" class="ph-thin ph-pencil-simple"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                        <button type="button" class="ph-thin ph-x-circle"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                  </li>
                  <li class="task">
                        <input type="checkbox" />
                        <span class="title">Fazer lista de compras</span>
                        <button type="button" class="ph-thin ph-pencil-simple"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                        <button type="button" class="ph-thin ph-x-circle"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                  </li>
                  <li class="task">
                        <input type="checkbox" (click)="makeTask()" />
                        <span class="title">Fazer lista de compras do mes de fevereiro a partir do dia 25 de
                              janeiro</span>
                        <button type="button" class="ph-thin ph-pencil-simple"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                        <button type="button" class="ph-thin ph-x-circle"
                              style="font-size: 18px; color: #f6ae2dff;"></button>
                  </li>


            </ul>

            <button type="button" class="topButton ph-thin ph-arrow-up" style="font-size: 20px; color: #2f4858ff"
                  (click)="top()"></button>
      </main>
</div>

<!-- Task alert -->
<swal #taskSwal title="" text="" icon="error" iconColor="#f26419ff" background="#e2e2e2" [timer]="3000"
      [timerProgressBar]="true" [showConfirmButton]="false">
</swal>
