<div class="container">
      <main>
            <h2>LOGIN</h2>

            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                  <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" required id="username" name="username" ngModel />
                        <!-- <input type="text" class="form-control" required id="username" name="username"
                              [(ngModel)]="user.username" /> -->
                  </div>

                  <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" required id="password" name="password" ngModel />
                        <!-- <input type="text" class="form-control" required id="password" name="password"
                              [(ngModel)]="user.password" /> -->
                  </div>

                  <button type="submit">ENTRAR</button>
            </form>
      </main>

      <!-- <a routerLink="/task">Tasks</a> -->
</div>
