<div class="container">
      <main>
            <h2 class="sign">SIGN</h2>

            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
                  <div class="form-group">
                        <label class="username">Usuário</label>
                        <input type="text" class="form-control" required id="username" name="username"
                              [(ngModel)]="user.username" #username="ngModel" />

                        <!-- Tratamento de erro -->
                        <div class="form-error" [hidden]="username.valid || username.pristine">
                              Nome de usuário necessário!
                        </div>
                  </div>

                  <div class="form-group">
                        <label class="password">Senha</label>
                        <input type="password" class="form-control" required id="password" name="password"
                              [(ngModel)]="user.password" #password="ngModel" />

                        <!-- Tratamento de erro -->
                        <div class="form-error" [hidden]="password.valid || password.pristine">
                              Uma senha é necessário!
                        </div>
                  </div>

                  <div class="form-group">
                        <label class="name">Nome</label>
                        <input type="name" class="form-control" required id="name" name="name" [(ngModel)]="user.name"
                              #name="ngModel" />

                        <!-- Tratamento de erro -->
                        <div class="form-error" [hidden]="name.valid || name.pristine">
                              Informe seu nome!
                        </div>
                  </div>

                  <button type="submit">SALVAR</button>
            </form>

            <a routerLink="/user">Voltar para Home</a>
      </main>
</div>

<!-- Main alert -->
<swal #mainSwal title="" text="" icon="error" iconColor="#f26419ff" background="#e2e2e2" [timer]="3000"
      [timerProgressBar]="true" [showConfirmButton]="false">
</swal>
